.content-div{
    padding: 20px;
    width: 800px;
    border: 1px solid grey;
    position: absolute;
    left:10%;
top: 30%;
border-radius: 10px;
text-align: left; 
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
