/* Header Styles */


.nav-item{
  
    padding: 20px 30px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  }
  .nav-item a{
    color: green;
    text-decoration: none;
  
  }
  
 .top-header-area {
    background-color: #051922;
    width: 100%;
    
  }
  