.drop .container{
    max-width: 1000px;
    margin: 0 auto;
}

.drop .select-box{
    width:285px
}
.drop .select-box:after{

}

.drop  .select-box select{
    height: 42px;
    padding: 10px 15px;
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    appearance: none;
    border:1px solid #ccc;
    border-radius: 8px;
    -webkit-appearance:checkbox !important
}